body {
    background: #1E1E1E;
    color: #fff;
    font-family: 'Love Ya Like A Sister', 'Space Mono', sans-serif;
    margin-top: 25px;
}

/* BODY */

.main-title {
    font-size: 80px;
    text-align: center;
    margin: 0;
}

.main-pic {
    width: auto;
    height: 300px;
    border-radius: 50%;
    margin-top: 80px;
}

.profile {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 15px;
}

.profile h2 {
    color: #ff9a00;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv-text {
    font-size: 16px;
    line-height: 1.75;
    flex-direction: column;
    max-width: 1000px;
    border-top: 1px solid #e1e1e1;
    padding: 15px 50px;
}

.cv-text h3 {
    color: #ff9a00;
}

.cv-link {
    text-decoration: none;
    color: #ff9a00;
    cursor: pointer;
    transition: all 0.25s;
}

.cv-link:hover {
    opacity: 0.7;
    text-decoration: underline;
}

@media only screen and (max-width: 1100px) {
    .cv-text {
        margin-inline: 100px;
    }
}

@media only screen and (max-width: 575px) {
    .cv-text {
        margin-inline: 10px;
    }
}