header {
  width: 80%;
  height: 70px;
  background: #323232;
  opacity: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  border-radius: 10px;
  margin: 0 auto;
}

.logo-tag {
  margin: 0;
  padding: 0;
  height: 70px;
  width: 175px;
}

.logo {
  height: 70px;
  width: 175px;
  object-fit: cover;
  padding: 0;
  margin: 0;
}

nav .logo {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li a {
  color: #ff9a00;
  display: block;
  margin: 0 2px;
  padding: 8px 18px;
  transition: 0.2s;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
}

nav ul li a:hover {
  background: #1E1E1E;
}

nav ul li a:active {
  background: #1E1E1E;
  opacity: 70%;
}

.hamburger {
  display: none;
  height: fit-content;
  cursor: pointer;
  padding: 3px 8px;
  transition: 0.2s;
}

.hamburger:hover {
  background: #1e1e1e;
  border-radius: 10px;
  opacity: 0.7;
}

.hamburger div {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: #FFa900;
  border-radius: 20px;
}

@media only screen and (max-width: 1140px) {
  header {
    width: 90%;
    padding: 0 20px;
  }

  nav {
    position: fixed;
    left: -300px;
    top: 0;
    z-index: 999;
    width: 280px;
    height: 100vh;
    background-color: #323232;
    transition: 0.2s;
    box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0 10px 10px 0;
    padding-top: 20px;
  }

  #nav_check:checked~nav {
    left: 0;
  }

  nav .logo {
    display: block;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  nav ul li a {
    margin-bottom: 5px;
    padding: 10px 15px;
    border-radius: 5px;
  }

  nav ul {
    display: block;
    padding: 0 20px;
    margin-top: 30px;
  }

  .hamburger {
    display: block;
  }
}

@media only screen and (max-width: 575px) {
  header {
    width: 90%;
    padding: 0 10px;
  }
}