body {
  background: #1E1E1E;
  color: #fff;
  font-family: 'Love Ya Like A Sister', 'Space Mono', sans-serif;
  margin-top: 25px;
}

/* BODY */

.main-pic {
  width: auto;
  height: 200px;
  border-radius: 50%;
}

.main-title {
  font-size: 80px;
  text-align: center;
  margin: 40px 0;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-wrap: scroll;
  padding-inline: 100px;
}

.profile {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 15px;
  margin: 20px 75px;
}

.profile-container .profile img {
  transition: 0.25s;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #fff;
}

.profile-container .profile img:hover {
  box-sizing: border-box;
  border: 3px solid #ff9a00;
}

.profile h2 {
  padding: 0;
  margin: 0;
  line-height: 2;
  color: #ff9a00;
}

.profile h3 {
  padding: 0;
  margin: 0;
  line-height: 1.5;
}

.projects-container#blur {
  transition: filter 0.25s;
}

.projects-container#blur.active {
  filter: blur(20px);
  transition: filter 0.25s;
  pointer-events: none;
  user-select: none;
}

#popup #close,
#popup02 #close,
#popup03 #close,
#popup04 #close,
#popup05 #close,
#popup06 #close {
    color: #ff9a00;
    text-decoration: none;
    background: #323232;
    padding: 10px 18px;
    border-radius: 20px;
    box-shadow: 0, 5px, 30px, rgba(0, 0, 0, .50);
    margin: 10px 0;
    cursor: pointer;
    transition: 0.25s;
}

#close {
    margin-top: 0px;
}

#popup #close:hover,
#popup02 #close:hover,
#popup03 #close:hover,
#popup04 #close:hover,
#popup05 #close:hover,
#popup06 #close:hover {
    background: #ff9a00;
    color: #323232;
 }

#popup #close:active,
#popup02 #close:active,
#popup03 #close:active,
#popup04 #close:active,
#popup05 #close:active,
#popup06 #close:active {
   opacity: 0.5;
}

#popup h3,
#popup02 h3,
#popup03 h3,
#popup04 h3,
#popup05 h3,
#popup06 h3 {
    text-decoration: none;
    line-height: 2;
    text-align:unset;
}

#popup a,
#popup02 a,
#popup03 a,
#popup04 a,
#popup05 a,
#popup06 a {
    text-decoration: none;
    color: #ff9a00;
    transition: opacity 0.2s;
}

#popup a:hover,
#popup02 a:hover,
#popup03 a:hover,
#popup04 a:hover,
#popup05 a:hover,
#popup06 a:hover {
    opacity: 0.75;
    cursor: pointer;
}

#popup,
#popup02,
#popup03,
#popup04,
#popup05,
#popup06 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    height: 450px;
    padding: 50px;
    box-shadow: 0, 5px, 30px, rgba(0, 0, 0, .3);
    background-size: cover;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.25s;
    background-color: #1e1e1e;
    border: 2px solid #e1e1e1;
}

#popup.active,
#popup02.active,
#popup03.active,
#popup04.active,
#popup05.active,
#popup06.active {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.25s;
}

/* Mobile Version */

@media only screen and (max-width: 1100px) {
  .profile-container {
    padding-inline: 50px;
  }
}

@media only screen and (max-width: 480px) {
  #popup,
  #popup02,
  #popup03,
  #popup04,
  #popup05,
  #popup06 {
    background-position: center;
    height: 80%;
    width: 75%;
    overflow-y: hidden;
    padding: 0 15px;
  }
  #popup a,
  #popup02 a,
  #popup03 a,
  #popup04 a,
  #popup05 a,
  #popup06 a {
    margin: 0;
    padding: 0;
  }

  #popup #close,
  #popup02 #close,
  #popup03 #close,
  #popup04 #close,
  #popup05 #close,
  #popup06 #close {
    margin: 15px 0;
  }

  #popup h3,
  #popup02 h3,
  #popup03 h3,
  #popup04 h3,
  #popup05 h3,
  #popup06 h3 {
    line-height: 1.75;
    padding-top: 20px;
    width: 90%;
    overflow-y: auto;
    margin: 0;
}
}
 
/* Tablet Version */

@media only screen and (min-width: 481px) and (max-width: 995px) {
  #popup,
  #popup02,
  #popup03,
  #popup04,
  #popup05,
  #popup06 {
    padding: 50px 20px;
    background-position: center;
    height: fit-content;
    width: 90%;
  }

  #popup a,
  #popup02 a,
  #popup03 a,
  #popup04 a,
  #popup05 a,
  #popup06 a {
    margin: 10px 0;
  }

  #popup.active,
#popup02.active,
#popup03.active,
#popup04.active,
#popup05.active,
#popup06.active {
  overflow-y: auto;
}
}