body {
    background: #1E1E1E;
    color: #fff;
    font-family: 'Love Ya Like A Sister', 'Space Mono', sans-serif;
    margin-top: 25px;
}

/* BODY */

.main-title {
  font-size: 80px;
  text-align: center;
  margin: 40px 0 10px 0;
}

.main-pic {
  width: auto;
  height: 200px;
  border-radius: 50%;
}

.profile {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 40px;
  line-height: 40px;
}

.typing-animation {
  font-size: 18px;
}

.profile .typewrite {
    position: relative;
    color: #ff9a00;
    text-decoration: none;
  }
e
.profile .text.first-text {
    color: #fff;
}

.text.sec-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1e1e1e;
    border-left: 2px solid #fff;
    animation: animate 2s steps(12) infinite;

    
}

@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0;
    }
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 16px;
  line-height: 1.75;
  flex-direction: column;
  max-width: 700px;
  border-top: 1px solid #e1e1e1;
  padding: 15px 50px;
}

@media only screen and (max-width: 1100px) {
  .cv-text {
      margin-inline: 100px;
  }
}

@media only screen and (max-width: 575px) {
  .cv-text {
      margin-inline: 10px;
  }
}