body {
    background: #1E1E1E;
    color: #fff;
    font-family: 'Love Ya Like A Sister', 'Space Mono', sans-serif;
    margin-top: 25px;
}

.main-title {
  font-size: 80px;
  text-align: center;
  margin: 40px 0;
}

section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 357px;
    height: 500px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, .5);
    filter: blur(4px);
    margin-bottom: 85px;
  }

.swiper-slide-active {
    filter: blur(0px)
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
  }

@media only screen and (max-width: 495px) {
    .main-title {
        font-size: 50px;
      }
      .swiper-slide {
        width: 286px;
        height: 400px;
      }
}

